table,thead,tbody
{
border-collapse:collapse;
width:90%;
margin:5px;
height: max-content;
text-align: center;
padding:20px;

margin:10px;
background-color:antiquewhite;

}
div{
    background-color:antiquewhite;
    overflow: hidden;
    height:auto;
    border-radius: 10px;
    position: sticky;


}
div,a{
    text-align: right;
  
    padding:5px;
    font-size: larger;

    
    
}
a:hover{
    background-color: yellowgreen;
    color:red;
}
body{
   background-color:maroon;

}
form{
    background-color: antiquewhite;
    padding:20px;
    margin:20px;
    text-align:center;
    font-size: larger;
    width:90%;
    height: 70%;
    border: 5px;
    scroll-behavior: smooth;

}
label{
    display:inline-table;
    width: 200px;
}



